html,body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  border: 3px #000000 solid;
  padding: 30px;
}

form * {
  margin: 5px;
}