body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainFieldset{
  border-style: solid;
  border-color: black;
}

form div{
  margin: 3%;
}

#formContactName, #formContactLastName{
  width: 35%;
}

#formContact__submit{
  padding: 2%;
}
